*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.total-containet{
    width: 100vw;
    height: 100vh;
    background-color: #3e3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 85%;
    width: 30%;
    background-color: #2B2B2B;
    border-radius: 35px;
    box-shadow: 2px 2px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:968px) {
    .container{
        width: 85%;
    }
}
@media screen and (min-width: 968px) and (max-width: 1388px) {
    .container {
        width: 50%;
    }
}

.display{
    width: 90%;
    height: 20%;
    background-color: #262626;
    border-radius: 20px;
    box-shadow: 2px 1px 5px inset;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow-x: hidden;
}
#display{
    color: aliceblue;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}
.button-container-box{
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 0.8rem;
}
.button-container{
    height: 70%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #333333;
    color: aliceblue;
    font-size: x-large;
    border-radius: 15px;
    border-top-left-radius: 25px; 
    box-shadow: 2px 2px 5px black;
}
.operator{
    background-color: #f79f12;
}
#equall{
    background-color: #2E7D32;
    grid-column-start: 3;
    grid-column-end: 5;
}